body, html{ 
    background-color: black;
    size: 100%;
}
a{
    text-decoration: none;
}
h1{
    font-weight: 800;
    color: #0570fc;
}
h3{
    font-weight: 400;
    color: black;
}
div, p{
    color: #0570fc;
}
img{
    width: 800px;
}
.container{
    display: block;
    width: 100%;
}
.card{
    margin: 1rem auto;
    padding: 0.25rem;
    border: 1px solid #0570fc;
}
ul.horizontal-list{
    list-style-type: none;
    display: inline-flex;
    gap: 20rem;
}
ul.horizontal-list li{
    flex: auto;
}
ul.horizontal-list:first-child li{
    display: inline-flex;
}
ul.horizontal-list li a div{
    font-weight: 400;
    font-size: 1rem;
}
ul.horizontal-list li a div:hover{
    color: purple;
    font-weight: 600;
    font-size: 1.15rem;
}
ul.horizontal-list li a div img{
    min-height: 175px;
    min-width: 175px;
    width: 175px;
}
ul.horizontal-list li a div img:hover{
    width: 180px;
}